@font-face {
    font-family: 'socicon';
    src: url('../facebook.png');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

[class^="socicon fb-icon"], [class*=" socicon-"] { /* Change to your class name, eg: icon, socicon, social... */
	font-family: 'socicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}